/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Quicksand", sans-serif;
}
ul,li{
    list-style: none;
    
}
a{
    color: currentColor;
}

/* LAYOUT */
.container{
    margin: 0px auto;
    max-width: 1040px;
    padding: 20px;
}


/* CONTENT */

.quadrature{
    text-align: center;
    margin-bottom: 10px;
}
.title{
    color: rgb(244, 48, 237);
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.row > *{
    padding: 15px;
    width: calc(100% / 3);
}
.card{
    display: flex;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: black;
    align-items: center;
    gap: 10px;
    
}
.card-body{
    flex-grow: 1;
}
.img{
    width: 80px;
    
}

.f-20{
    font-size: 20px;
}

.f-15{
    font-size: 15px;
}